
/* custom title bar for github-electron */
.title-bar {
  -webkit-app-region: drag;    /* Make the title bar draggable */
  background-color: initial;   /* background color */
  background-image: linear-gradient(#464d55, #25292e);
  color: #e1e1e1;           /* text color */
  height: 28px;
  width: 100%;
  min-width: 400px;
  user-select: none;        /* Disable text selection */
  display: flex;
  box-sizing: border-box;
  align-items: center;      /* Center content vertically */
}

/* right title bar image */
#title-bar-image {
  height: 60%;
  margin-left: 4px;   /* Add space between the image and text */
  margin-right: 2px;  /* Add space between the image and text */
}

/* left (dummy) title bar image -- NOT CURRRENTLY USED */
#title-bar-dummy-image {
  opacity: 0;         /* hide the image */
  height: 60%;
  margin-left: 2px;
  margin-right: 4px;
}

/* Center the title bar text */
#title-bar-text {
  flex-grow: 1;       /* Take up remaining space */
  text-align: center; /* Center text horizontally */
  font-family: Arial, sans-serif;
  font-size: 14px;
}

#title-bar-status-region {
    display: inline-block;
    width: 50px;         /* adjust as needed based on title-bar-image size
    min-height: 1px;     /* force fixed width when no div content */
    margin-left: 8px;   /* adjust to align as desired relative to button column */
}
